<div class="flextape">
    <div class="rox"  *ngFor="let item of products">
    <img class="boiki" [src]="item.product.image" [alt]="item.product.name">
    <h1>{{item.product.name}}</h1>   
    <h1>price: {{item.product.price}}</h1>
    <h1>quantity: {{item.quantity}}</h1>
    
   
    <button (click)="apiService.deleteBasket(item.product.id)" class="ohara">Delete</button>
    <div class="pele">
   <button class="bijo"  (click)="apiService.editProduct(item.product.id)">put</button>
  <div class="pele">
    <button (click)="quantityPlus()">+</button> 
          <button (click)="quantityMinus">-</button>
      
    </div>

    </div>
 
         
</div>
</div>
